svg.bst-donut {
  overflow: visible;
  transform-origin: center;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  path {
    transform-origin: center;
    opacity: 1;
  }
  p {
    text-align: center;
    width: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
